<%@ page import="com.verecloud.nimbus4.content.Content" %>
<!DOCTYPE html>
<html>

<head>
	<meta name="layout" content="kickstart"/>
	<g:set var="entityName" value="${message(code: 'content.label', default: 'Content')}"/>
	<title><g:message code="default.show.label" args="[entityName]"/></title>
</head>

<body>

<section id="show-content" class="first">

	<table class="table">
		<tbody>
		
		<tr class="prop">
			<td valign="top" class="name"><g:message code="content.tenantId.label" default="Tenant" /></td>

			<td valign="top" class="value"><g:link controller="group" action="show" id="${contentInstance?.tenantId}">${com.verecloud.nimbus4.party.Group.findById(contentInstance?.tenantId?.toLong())?.encodeAsHTML()}</g:link></td>
		</tr>
			
		<tr class="prop">
			<td valign="top" class="name"><g:message code="content.key.label" default="Key" /></td>
			
			<td valign="top" class="value">${fieldValue(bean: contentInstance, field: "key")}</td>
			
		</tr>
		
		<tr class="prop">
			<td valign="top" class="name"><g:message code="content.content.label" default="Content" /></td>
			
			<td valign="top" class="value">
				
           <g:textArea class="form-control" name="content" value="${(contentInstance?.content as grails.converters.JSON).toString(true)}" />
            <div id="contentResizable"><div id="contentEditor">${(contentInstance?.content as grails.converters.JSON).toString(true)}</div></div>
                    
			</td>

			
		</tr>
		
		<tr class="prop">
			<td valign="top" class="name"><g:message code="content.dateCreated.label" default="Date Created" /></td>
			
			<td valign="top" class="value"><g:formatDate date="${contentInstance?.dateCreated}"/></td>
			
		</tr>
		
		<tr class="prop">
			<td valign="top" class="name"><g:message code="content.lastUpdated.label" default="Last Updated" /></td>
			
			<td valign="top" class="value"><g:formatDate date="${contentInstance?.lastUpdated}"/></td>
			
		</tr>
		
		</tbody>
	</table>
</section>
<style>
                     #contentResizable { width: 1000px; height: 500px; padding: 5px; border: 1px solid #aedeae}
                     #contentResizable{position: relative}
                     #contentEditor{position: absolute; top:0;left:0;right:0;bottom:0;}
                     </style>
            <script src="${resource(dir: 'js/ace',file: 'ace.js')}" type="text/javascript" charset="utf-8"></script>
            <script src="${resource(dir: 'js/ace',file: 'ext-language_tools.js')}"></script>
            <link rel="stylesheet" href="${resource(dir: 'css/jquery',file:'jquery-ui.css')}">
            <script src="${resource(dir:'js/jquery',file: 'jquery-ui.js')}"></script>
            <script>
                    var jq = jq?jq: $.noConflict();
                    jq(document).ready(function (){
            
                                ace.require("ace/ext/language_tools");
                                contentEditor = ace.edit("contentEditor");
                                var content = $('textarea[name="content"]').hide();
                                contentEditor.session.setMode("ace/mode/json");
                                contentEditor.setTheme("ace/theme/tomorrow");
                                contentEditor.setOptions({
                                    enableBasicAutocompletion: true,
                                    enableSnippets: true,
                                    enableLiveAutocompletion: false

                                });
                                document.getElementById('contentEditor').style.fontSize='15px'
                                contentEditor.setReadOnly(true)
                                contentEditor.getSession().on('change', function(){
                                    content.val(contentEditor.getSession().getValue());
                                });
                                 jq("#contentResizable").resizable({
                                    resize: function( event, ui ) {
                                    contentEditor.resize();
                                  }
                                 });

            
                    });
                </script>
</body>

</html>
