#Navbar .container {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    width: 98%
}

#errorDiv {
    padding-bottom: 15px;
}

#horizontalScroll {
    /*width: 1000px;*/
    /*height: 190px;*/
    overflow: auto;
    overflow-y: hidden;
    /*margin: 0 auto;*/
    white-space: nowrap;
    /*word-break: keep-all;*/
}

.error input, .error select, .error textarea {
    border: 1px solid red;
}

.required-indicator {
    color: red;
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}

.ulScroll{
    height: 300px;
    overflow: auto;
}
.formValue{
	float:right;
	width:65%;
	padding-left: 10px;
	vertical-align: middle;
}

div.pure-control-group.complex.many{
	padding-bottom:10px;
	padding-top:10px;
	padding-left:20px;
}
div.pure-control-group.many{
	padding-bottom:10px;
	padding-top:20px;
	padding-left:20px;
}
div.pure-control-group.complex.one{
	padding-bottom:10px;
	padding-top:25px;
	padding-left:20px;
}
.pure-control-group{
	padding-bottom:10px;
	padding-top:10px;
	padding-left:20px;
	margin:auto;
	overflow:hidden;
}
.required:before{
	content : "*";
	color: #FF0000;
}
.colormered{
	color: #FF0000;
}

ul.data{
	list-style-type: none;
	text-align: inherit;
	padding-left:0px;
}
ul.featuresGroup{
	border-bottom: thin;
}
ul.childData{
	display:inline-block;
	width:inherit;
	padding:2px;
	padding-left:1px;
}
li.childData{
	margin: 0 0 3px 0;
	padding: 2px;
	padding-left:1px;
}

input:-moz-read-only { /* For Firefox */
    /*background-color: #F8F8F8;*/
}

input:read-only { 
    background-color:  #F8F8F8;
    font-style: italic;
    color: #A1A1A1;
}

.loading {
	color: #428bcd;
	font: 300 3em/10% Impact;
	text-align: center;
}

/*dot animation on switch tenant dialog*/
.loading:after {
	content: ' .';
	-webkit-animation: dots 1s steps(5, end) infinite;
	animation: dots 1s steps(5, end) infinite;
}

@-webkit-keyframes dots {
	0%, 20% {
		color: rgba(0, 0, 0, 0);
		text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
		.5em 0 0 rgba(0, 0, 0, 0);
	}
	40% {
		color: #428bcd;
		text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
		.5em 0 0 rgba(0, 0, 0, 0);
	}
	60% {
		text-shadow: .25em 0 0 #428bcd,
		.5em 0 0 rgba(0, 0, 0, 0);
	}
	80%, 100% {
		text-shadow: .25em 0 0 #428bcd,
		.5em 0 0 #428bcd;
	}
}

@keyframes dots {
	0%, 20% {
		color: rgba(0, 0, 0, 0);
		text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
		.5em 0 0 rgba(0, 0, 0, 0);
	}
	40% {
		color: #428bcd;
		text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
		.5em 0 0 rgba(0, 0, 0, 0);
	}
	60% {
		text-shadow: .25em 0 0 #428bcd,
		.5em 0 0 rgba(0, 0, 0, 0);
	}
	80%, 100% {
		text-shadow: .25em 0 0 #428bcd,
		.5em 0 0 #428bcd;
	}
}