<%@ page import="com.verecloud.nimbus4.service.ServiceSpecificationProperties" %>
<!DOCTYPE html>
<html>

<head>
	<meta name="layout" content="kickstart"/>
	<g:set var="entityName" value="${message(code: 'serviceSpecificationProperties.label', default: 'ServiceSpecificationProperties')}"/>
	<title><g:message code="default.show.label" args="[entityName]"/></title>
</head>

<body>

<section id="show-serviceSpecificationProperties" class="first">

	<table class="table">
		<tbody>
		
		<tr class="prop">
			<td valign="top" class="name"><g:message code="serviceSpecificationProperties.serviceProperties.label" default="Service Properties" /></td>
			
			<td valign="top" class="value">${fieldValue(bean: serviceSpecificationPropertiesInstance, field: "serviceProperties")}</td>
			
		</tr>
		
		<tr class="prop">
			<td valign="top" class="name"><g:message code="serviceSpecificationProperties.serviceSpecificationId.label" default="Service Specification Id" /></td>
			
			<td valign="top" class="value">${fieldValue(bean: serviceSpecificationPropertiesInstance, field: "serviceSpecificationId")}</td>
			
		</tr>
		
		</tbody>
	</table>
</section>
<style></style>
            <script src="${resource(dir: 'js/ace',file: 'ace.js')}" type="text/javascript" charset="utf-8"></script>
            <script src="${resource(dir: 'js/ace',file: 'ext-language_tools.js')}"></script>
            <link rel="stylesheet" href="${resource(dir: 'css/jquery',file:'jquery-ui.css')}">
            <script src="${resource(dir:'js/jquery',file: 'jquery-ui.js')}"></script>
            <script>
                    var jq = jq?jq: $.noConflict();
                    jq(document).ready(function (){
            
                    });
                </script>
</body>

</html>
